{% extends 'dynamic-email-template-pro/_layouts' %}
{% import '_includes/forms' as forms %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}
{# {% set selectedTab = 'template' %} #}
{% if noTabs is not defined and craft.app.config.general.allowAdminChanges %}
    {% set tabs = {
        template: { label: 'Template' | t('dynamic-email-template-pro'), url: '#template' },
        config: { label: 'Configuration' | t('dynamic-email-template-pro'), url: '#config' },
    } %}

{% endif %}
{% set crumbs = [
    { label: 'Templates' | t('dynamic-email-template-pro'), url: url('dynamic-email-template-pro/templates') },
] %}

{% set fullPageForm = true %}
{% set noTabs = true %}
{% set title = data.template.name ~' Test Email' | t('dynamic-email-template-pro') %}


{% block header %}
  <div class="flex flex-nowrap">
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
  </div>
  <div class="flex">
    {{ block('actionButton') }}
  </div>
{% endblock %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
      <button type="submit" id="send-submit" class="btn submit">{{ 'Send'|t('dynamic-email-template-pro') }}</button>
    </div>
{% endblock %}

{% set formAttributes = {
    'id': 'templateForm',
    'method': 'post',
    'accept-charset': 'UTF-8',
    'data': {
        'saveshortcut': true,
        'saveshortcut-scroll': true,
        'confirm-unload': true,
        'delta': true,
    },
} %}

{% block blockContent %}
    
    <form {{ attr(formAttributes) }}>
        <input type="hidden" name="templateId" value="{{ data.template.id ?? '' }}">

        {{ actionInput('dynamic-email-template-pro/mail/send-mail') }}
        
        {# <h2 style="margin-bottom: 25px;">Add Token</h2> #}
        {% set csrfParam = craft.app.request.csrfParam %}
        {% set csrfToken = craft.app.request.csrfToken %}
        <input type="hidden" name="{{ csrfParam }}" value="{{ csrfToken }}">
        {{ csrfInput() }}
        <div id="template">
        <table class='tokens_table'>
            <tr>
                <td>
                    {{ forms.textField({
                        first: true,
                        label: 'Template name' | t('dynamic-email-template-pro'),
                        id: 'name',
                        name: 'name',
                        rows: '1',
                        readonly: true,
                        required:true,
                        value: data.template.name ?? '',
                        errors: name.getErrors('name') ?? '',
                    }) }}
                </td>
                
            </tr>
            <tr>
                <td>{{ forms.textField({
                        first: true,
                        label: 'Template unique id' | t('dynamic-email-template-pro'),
                        id: 'template_unique_id',
                        name: 'template_unique_id',
                        instructions: "This field will be filled automatically once you save this template"|t('dynamic-email-template-pro'),
                        required:true,
                        rows: '1',
                        readonly: true,
                        value: data.template.email_template_id ?? '',
                        autocorrect: false,
                        autocapitalize: false,
                        errors: name.getErrors('template_unique_id') ?? '',
                    }) }}
                </td>
            </tr>
            <tr>
                    <td>{{ forms.textField({
                            first: true,
                            label: 'Recipients' | t('dynamic-email-template-pro'),
                            id: 'to',
                            name: 'to',
                            rows: '1',
                            value:'',
                            autocorrect: false,
                            class: 'msg-div',
                            required:true,
                            autocapitalize: false,
                            instructions: 'Add recipients email address seprated by "," or ";"'|t('dynamic-email-template-pro'),
                            errors: name.getErrors('to') ?? '',
                        }) }}
                        <p id="error_msg" style="display: none;color:#CF1124">{{'Recipients address cannot be blank'|t('dynamic-email-template-pro')}}</p>
                    </td>
                </tr>
            <tr>
                <td>{{ forms.textField({
                    first: true,
                    label: 'Subject' | t('dynamic-email-template-pro'),
                    id: 'subject',
                    name: 'subject',
                    rows: '1',
                    readonly : true,
                    value: data.content.subject ?? '',
                    class: 'selectize fullwidth',
                    errors: name.getErrors('tokens') ?? '',
                }) }}</td>
            </tr>
            <tr>
                <td>{{ forms.textAreaField({
                        first: true,
                        label: 'Body' | t('dynamic-email-template-pro'),
                        id: 'body',
                        name: 'body',
                        rows: '10',
                        readonly: true,
                        value: data.content.body ?? '',
                        errors: name.getErrors('body') ?? '',
                    }) }}
                    {% includeJs "$R('#body');" %}
                </td>
                </tr>
                {% for token in data.tokens %}
                    <tr>                       
                        {% set t_name = token %}
                        <td>
                            {{ forms.textField({
                            first: true,
                            label:t_name| t('dynamic-email-template-pro'),
                            id: t_name,
                            name:  t_name,
                            rows: '1',
                            value:'',
                            class: 'selectize fullwidth',
                            errors: name.getErrors('tokens') ?? '',
                            }) }}     
                        </td>
                    </tr>
                    {% endfor %}
        </table>
        </div>
        <div id="config" class="hidden">
            <table class='tokens_table'>
    
                    <tr>
                        <td>{{ forms.textField({
                                first: true,
                                label: 'From email address' | t('dynamic-email-template-pro'),
                                instructions: "Add from email address"|t('dynamic-email-template-pro'),
                                id: 'from',
                                name: 'from',
                                readonly : true,
                                rows: '1',
                                value: data.template.from ?? '',
                                class: 'selectize fullwidth',
                                errors: name.getErrors('tokens') ?? '',
                            }) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ forms.textField({
                                first: true,
                                label: 'From name' | t('dynamic-email-template-pro'),
                                instructions: "Add from name"|t('dynamic-email-template-pro'),
                                id: 'alias',
                                name: 'alias',
                                readonly : true,
                                rows: '1',
                                value: data.template.alias ?? '',
                                class: 'selectize fullwidth',
                                errors: name.getErrors('alias') ?? '',
                            }) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ forms.textField({
                                first: true,
                                label: 'Cc email address' | t('dynamic-email-template-pro'),
                                instructions: 'Add cc email address seprated by "," or ";"'|t('dynamic-email-template-pro'),
                                id: 'cc',
                                name: 'cc',
                                rows: '1',
                                value: data.bcc ?? '',
                                class: 'selectize fullwidth',
                                errors: name.getErrors('cc') ?? '',
                            }) }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ forms.textField({
                                first: true,
                                label: 'Bcc email address' | t('dynamic-email-template-pro'),
                                instructions: 'Add bcc email address seprated by "," or ";"'|t('dynamic-email-template-pro'),
                                id: 'bcc',
                                name: 'bcc',
                                rows: '1',
                                value: data.bcc ?? '',
                                class: 'selectize fullwidth',
                                errors: name.getErrors('bcc') ?? '',
                            }) }}
                        </td>
                    </tr>
                    <tr>
                        <td> 
                            <div class="buttons clearafter">
                                <button name="submit" type="hidden">
                            </div>
                        </td>
                    </tr>
                </table>
</div>
        
    </form>

{% js %}

$(function() {
    
    $('#send-submit').click(function(){
        if($.trim($('#to').val()) == ''){
            $('#error_msg').css("display","block");
            $("#error_msg").prev().addClass('error-wrapper'); 
        return false;
        }
    });
    $('#to').focus(function(){
        $('#error_msg').css("display","none");
        $("#error_msg").prev().removeClass('error-wrapper');
    }
   );

});


{% endjs %}
{% endblock %}

