{% extends parentLayout ?? '_layouts/cp' %}
{% set pluginCpUrl = url('dynamic-email-template-pro') %}

{% do view.registerAssetBundle("ipcraft\\dynamicemailtemplatepro\\assetbundles\\dynamicemailtemplatepro\\DynamicEmailTemplateProAsset") %}
{% do view.registerAssetBundle("ipcraft\\dynamicemailtemplatepro\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# {% if noTabs is not defined and currentUser.admin and craft.app.config.general.allowAdminChanges %} #}
{% if noTabs is not defined and craft.app.config.general.allowAdminChanges %}
    {% set tabs = {
        tokens: { label: 'Tokens' | t('dynamic-email-template-pro'), url: url('dynamic-email-template-pro') },
        mailtemplates: { label: 'Templates' | t('dynamic-email-template-pro'), url: url('dynamic-email-template-pro/templates') },
    } %}

{% endif %}

{% if title is not defined and tabs %}
    {% set title = 'Dynamic email template Pro ' ~ tabs[selectedTab].label %}
{% endif %}

{% set content %}
    {% block blockContent %}
   

    {% endblock %}

{% endset %}
