{% extends 'email-templates/_layouts' %}
{% import '_includes/forms' as forms %}

{% set deleteiconUrl = view.getAssetManager().getPublishedUrl('@ipcraft/emailtemplates/assetbundles/emailtemplates/dist', true) ~ '/img/delete-icon.svg' %}
{% set editiconUrl = view.getAssetManager().getPublishedUrl('@ipcraft/emailtemplates/assetbundles/emailtemplates/dist', true) ~ '/img/edit.svg' %}

    
{% set add = craft.app.request.getParam('add') %}

{% set selectedTab = 'mailtemplates' %}


{% block header %}
  <div class="flex flex-nowrap">
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
  </div>
  <div class="flex">
    <div class="headers">
        <div class="header-div">
            <div class="flex-grow texticon search icon clearable">
                <input type="text" class="text trans_search_bar" onkeyup="myFunction()"  placeholder="{{'Search'|t('email-templates')}}" aria-label="Search" id="myInput">
            </div>
        </div>
    </div>
    {{ block('actionButton') }}
  </div>
{% endblock %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
        {% if currentUser.can('manageTemplates') %}
            <a class="btn submit add icon" href="{{url('email-templates/template-new')}}">{{ "New Template"|t('email-templates') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block blockContent %}
    {% if not currentUser.can('manageTemplates') %}
        {% include "email-templates/_errors/nopermission" %}
    {% else %}
        {% include "email-templates/mailtemplates/temp_content" %}
    {% endif %}
{% endblock %}


