{% extends 'email-templates/_layouts' %}
{% import '_includes/forms' as forms %}
{% do view.registerAssetBundle("craft\\redactor\\assets\\redactor\\RedactorAsset") %}
{% set selectedTab = 'config' %}
{% if noTabs is not defined and craft.app.config.general.allowAdminChanges %}
    {% set tabs = {
        templates: { label: 'Templates' | t('templates'), url: url('email-templates/mailtemplates/add') },
        config: { label: 'Configuration' | t('congig'), url: url('email-templates/mailtemplates/tempConfig') },
    } %}

{% endif %}
{% set crumbs = [
    { label: 'Templates' | t('mailtemplates'), url: url('email-templates/mailtemplates') },
] %}

{% set fullPageForm = true %}
{% set noTabs = true %}
{% set temp_name = false %}

{% set title = 'Template configuration' | t('email-templates') %}

{% block header %}
  <div class="flex flex-nowrap">
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
  </div>
  <div class="flex">
    {{ block('actionButton') }}
  </div>
{% endblock %}

{% block actionButton %}
    <div id="save-btn-container" class="btngroup submit">
      <button type="submit" id="template-sumit" class="btn submit">{{ 'Save'|t('email-templates') }}</button>
    </div>
{% endblock %}

{% set formAttributes = {
    'id': 'templateForm',
    'method': 'post',
    'accept-charset': 'UTF-8',
    'data': {
        'saveshortcut': true,
        'saveshortcut-scroll': true,
        'confirm-unload': true,
        'delta': true,
    },
} %}

{% block blockContent %}
    
    <form {{ attr(formAttributes) }}>
        <input type="hidden" name="templateId" value="{{ data.templateId ?? '' }}">

        {{ actionInput('email-templates/cp/save-template') }}
        
        {# <h2 style="margin-bottom: 25px;">Add Token</h2> #}
        {% set csrfParam = craft.app.request.csrfParam %}
        {% set csrfToken = craft.app.request.csrfToken %}
        <input type="hidden" name="{{ csrfParam }}" value="{{ csrfToken }}">
        {{ csrfInput() }}
        <table class='tokens_table'>
    
          
            <tr>
                <td>{{ forms.textField({
                        first: true,
                        label: 'From mail address' | t('email-templates'),
                        instructions: "Add from mail address"|t('email-templates'),
                        id: 'from',
                        name: 'from',
                        rows: '1',
                        value: data.from ?? '',
                        class: 'selectize fullwidth',
                        errors: name.getErrors('tokens') ?? '',
                    }) }}</td>
            </tr>
            <tr>
                    <td>{{ forms.passwordField({
                            first: true,
                            label: 'Password' | t('email-templates'),
                            id: 'password',
                            name: 'password',
                            rows: '1',
                            value: data.from ?? '',
                            class: 'selectize fullwidth',
                            errors: name.getErrors('password') ?? '',
                        }) }}</td>
                </tr>
            <tr>
                    <td>{{ forms.textField({
                            first: true,
                            label: 'CC mail address' | t('email-templates'),
                            instructions: "Add cc mail address"|t('email-templates'),
                            id: 'cc',
                            name: 'cc',
                            rows: '1',
                            value: data.bcc ?? '',
                            class: 'selectize fullwidth',
                            errors: name.getErrors('cc') ?? '',
                        }) }}</td>
                </tr>
            <tr>
                    <td>{{ forms.textField({
                            first: true,
                            label: 'BCC mail address' | t('email-templates'),
                            instructions: "Add bcc mail address"|t('email-templates'),
                            id: 'bcc',
                            name: 'bcc',
                            rows: '1',
                            value: data.bcc ?? '',
                            class: 'selectize fullwidth',
                            errors: name.getErrors('bcc') ?? '',
                        }) }}</td>
                </tr>
            <tr>
                <td>{{ forms.textField({
                        first: true,
                        label: 'Alias' | t('email-templates'),
                        instructions: "Add alias name"|t('email-templates'),
                        id: 'alias',
                        name: 'alias',
                        rows: '1',
                        value: data.alias ?? '',
                        class: 'selectize fullwidth',
                        errors: name.getErrors('tokens') ?? '',
                    }) }}</td>
            </tr>
            <tr>
                <td> <div class="buttons clearafter">
                    <button name="submit" type="hidden">
                </div></td>
            </tr>
        </table>
        
    </form>
{% endblock %}


{% js %}

{% if not data.templateId %}new Craft.HandleGenerator('#name', '#template_unique_id');{% endif %}

$(function() {
    $('#tokens, #productTypes').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });

    $("form").submit(function() {
        $("input[name=ignorePrevious]").prop('disabled', false);
        if ($("input[name=ignorePrevious]").prop('checked') == true) {
            $("#ignorePrevious-field").css('opacity', 0.25);
        }
        ;
    });

    $('select[name=apply]').change(function() {

        if (this.value == 'byPercent' || this.value == 'toPercent') {
            $('#applyAmount-percent-symbol').removeClass('hidden');
            $('#applyAmount-currency-symbol').addClass('hidden');
        }else{
            $('#applyAmount-percent-symbol').addClass('hidden');
            $('#applyAmount-currency-symbol').removeClass('hidden');
        }

        if (this.value == 'toFlat' || this.value == 'toPercent') {
            $('input[name=ignorePrevious]').prop('disabled', true);
            $('input[name=ignorePrevious]').prop('checked', true);
        }
        if (this.value != 'toFlat' && this.value != 'toPercent') {
            $('input[name=ignorePrevious]').prop('disabled', false);
            $('input[name=ignorePrevious]').prop('checked', false);
        }
    });
    $('#template-sumit').click(function(){
        if($.trim($('#name').val()) == ''){
            $('#error_msg').css("display","block");
        return false;
    }
    });
    $('#name').focus(function(){
        $('#error_msg').css("display","none");
    }
   );
   $('.handle_names').css("color","#606d7b") ;


});


{% endjs %}
