{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Dynamic email template Pro plugin for Craft CMS
 *
 * DynamicEmailTemplateProUtility Utility Content
 *
 * @author    Infanion
 * @copyright Copyright (c) 2021 Infanion
 * @link      https://www.infanion.com/
 * @package   DynamicEmailTemplatePro
 * @since     1.0.0
 */
#}

<h1>DynamicEmailTemplateProUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@ipcraft/dynamicemailtemplatepro/assetbundles/dynamicemailtemplateproutilityutility/dist', true) ~ '/img/DynamicEmailTemplateProUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>