{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Email Templates plugin for Craft CMS
 *
 * EmailTemplatesUtility Utility Content
 *
 * @author    Infanion
 * @copyright Copyright (c) 2021 Infanion
 * @link      https://www.infanion.com/
 * @package   EmailTemplates
 * @since     1.0.0
 */
#}

<h1>EmailTemplatesUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@ipcraft/emailtemplates/assetbundles/emailtemplatesutilityutility/dist', true) ~ '/img/EmailTemplatesUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>